{% extends 'base-connected.html.twig' %}


{% block body %}
    <h4>Ajout d'un nouvelle adherent</h4>

    {{ include('jeu/_form.html.twig') }}

    <button class="btn btn-primary mt-4">
        <a style="text-decoration: none; color: white;" href="{{ path('adherent') }}">Retour à la liste des adhérents</a>
    </button>
{% endblock %}